*{ margin:0; padding:0;}
body { font-family:"Microsoft YaHei",Arial; font-size:12px; color:#333;}
div, ul, ol, li, p, span, dl, dt, dd, h1, h2, h3, h4, h5, table, tbody, th, tr, td, form, input, submit, textarea, .unstyled { margin:0px; padding:0px; list-style:none; border:none;}
a { text-decoration: none; color:#333; word-break:break-all; }
a{ outline: none;} 
a:focus{ outline: none; }
img { border:none; }
input button { margin:0; padding:0;  }
.clear { clear:both; }
/********logo*******/
.pig_bg{ width:100%; height:3500px; background:url(../images/pig/bg.jpg); overflow:hidden;}
.logo{ width:1200px; height:130px; margin:0 auto; padding-top:75px;}
.logo_pic{ width:633px; height:90px; margin:0 auto;}
.logo_pic img{ float:left;}
.logo_rt{ padding-top:3px;}
/****end logo******/

.EWM_ban{ width:1200px; margin:0 auto; padding:24px 10px 12px 45px; color:#fff; font-family:Microsoft YaHei; overflow:hidden;}
.EWM_lf{ width:815px; float:left; padding-top:30px;}
.EWM_lf img{ display:block; margin-bottom:25px;}
.EWM_lf h1{ font-size:45px; line-height:60px;}
.EWM_lf h2{ font-size:37px; line-height:60px;}
.EWM_lf p{ font-size:17px; line-height:30px; display:block; overflow:hidden;}

.EWM_rt{ width:315px;float:right;}
.EWM_rt img{ display:block;}

/******扫码下载 开始********/
.phewm{ width:730px; padding-top:10px;}
.cell{ width:283px; float:left; padding-left:15px}
.adr{ width:298px; height:78px; background:url(../images/pig/adr_bg.png) no-repeat; margin:40px 0 0 17px; float:left; border:none; cursor:pointer; outline:none; color:#0d8d3e; font-size:25px; line-height:78px; padding-left:50px;}
.ios{ width:298px; height:78px; background:url(../images/pig/ios_bg.png) no-repeat; margin:40px 0 0 17px; float:left; border:none; cursor:pointer; outline:none; color:#f08536; font-size:25px; line-height:78px; padding-left:50px;}

.ewm{ width:230px; height:235px; background:#fff; float:right; margin-top:5px;}
.ewm img{ margin:13px;}
.ewm span{ width:230px; font-size:25px; color:#fff; text-align:center; display:block; line-height:70px;}
/****end 二维码部分******/

/****生猪市场******/
.pig{ width:1200px; height:576px; margin:0 auto;}
.pig img{ display:block; margin:66px 0 0 55px; float:left;}
.pic_explan{ float:right; font-family:Microsoft YaHei; color:#f08536; width:640px; margin-top:207px;}
.pic_explan span{ font-size:50px; line-height:90px;}
.pic_explan p{ font-size:30px; line-height:50px; padding-left:8px;}

/****产品溯源*****/
.product{ width:1200px; height:576px; margin:0 auto;}
.product img{ display:block; margin:51px 0 0 55px; float:right;}
.pro_explan{ float:left; font-family:Microsoft YaHei; color:#0d8d3e; width:640px; margin:207px 0 0 134px;}
.pro_explan span{ font-size:50px; line-height:90px;}
.pro_explan p{ font-size:30px; line-height:50px; padding-left:8px;}

/****积分商城*****/
.jifen{ width:1200px; height:576px; margin:0 auto;}
.jifen img{ display:block; margin:52px 0 0 55px; float:left;}
.jf_explan{ float:right; font-family:Microsoft YaHei; color:#e84136; width:640px; margin-top:207px;}
.jf_explan span{ font-size:50px; line-height:90px;}
.jf_explan p{ font-size:30px; line-height:50px; padding-left:8px;}

/****牧易商城*****/
.muyi{ width:1200px; height:576px; margin:0 auto;}
.muyi img{ display:block; margin:66px 0 0 55px; float:right;}
.my_explan{ float:left; font-family:Microsoft YaHei; color:#307edd; width:640px; margin:217px 0 0 134px;}
.my_explan span{ font-size:50px; line-height:90px;}
.my_explan p{ font-size:30px; line-height:50px; padding-left:8px;}

/*******底部*******/
.btm{ width:1200px; height:100px; margin:200px auto 100px;}
.btm p{ text-align:center; color:#636363; font-size:18px; display:block; line-height:40px;}
